.cellButton {
  width: 64px;
  height: 64px;
  border: 1px solid aliceblue;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  background-color: rgb(35, 35, 35);
  font-family: "Press Start 2P", cursive;
  color: aliceblue;
}
